/*-----------------------------------*\
 * #CUSTOM PROPERTIES
\*-----------------------------------*/

:root {
    /*COLORS - PRIMARY*/
    --clr-cyan: hsl(179, 62%, 43%);
    --clr-bright-yellow: hsl(71, 73%, 54%);
    /*COLORS - NEUTRAL*/
    --clr-light-grey: hsl(204, 43%, 93%);
    --clr-grayish-blue: hsl(218, 22%, 67%);
    /* TYPOGRAPHY */
    --fs-body: 1.6rem;
    --ff-primary: 'Karla', sans-serif;
    --fw-400: 400;
    --fw-700: 700;
    /*BORDERS*/
    --border-radius: 0.5rem;
}

/*-----------------------------------*\
 * #RESET
\*-----------------------------------*/

/* Box sizing rules */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::before, *::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.6;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*-----------------------------------*\
 * #BASE
\*-----------------------------------*/

body {
    font-size: var(--fs-body);
    font-family: var(--ff-primary);
    background: var(--clr-light-grey);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header__visually-hidden {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
    clip: rect(1px, 1px, 1px, 1px); /*maybe deprecated but we need to support legacy browsers */
    clip-path: inset(50%); /*modern browsers, clip-path works inwards from each corner*/
    white-space: nowrap; /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}

.main {
    display: flex;
    align-items: center;
    flex: 1;
    padding: 7.5rem 2rem;
}

.footer {
    position: sticky;
    top: 100vh;
    padding: 2rem;
    border-top: solid 1px #cacacd;
    font-size: inherit;
    font-size: 1.4rem;
    text-align: center; 
    background: var(--clr-cyan);
    color: white;
}

.link {
    color: var(--clr-bright-yellow); 
    font-weight: 700;
    text-decoration: none;
}

/*-----------------------------------*\
 * #COMPONENTS
\*-----------------------------------*/

.card {
    max-width: 32rem;
    margin: 0 auto;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.card__container {
    padding: 2.3rem;
}

.card__top {
    background: #fff;
}

.card__header {
    color: var(--clr-cyan);
    font-size: 2rem;
    margin-bottom: 2rem;
}

.card__subheader {
    color: var(--clr-bright-yellow);
    font-size: 1.6rem;
    line-height: 1.3;
    margin-bottom: 1.7rem;
}

.card__details {
    color: var(--clr-grayish-blue);
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.subscription {
    background: var(--clr-cyan);
    color: #fff;
}

.subscription__header {
    margin-bottom: 0.5rem;
}

.subscription__price {
    font-size: 3rem;
    font-weight: 700;
}

.subscription__price-accent {
    color: var(--clr-light-grey);
    opacity: 0.8;
    font-size: var(--fs-body);
    vertical-align: middle;
    font-weight: 400;
}

.subscription__details {
    margin-bottom: 2.5rem;
}

.sign-up-btn {
    display: block;
    text-decoration: none;
    text-align: center;
    background: var(--clr-bright-yellow);
    padding: 1.1rem;
    border-radius: 0.5rem;
    border: 0;
    width: 100%;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 1px 10px 10px rgba(0, 0, 0, 15%);
    border: 1px solid transparent;
}

.card__bottom {
    background: hsl(179, 47%, 52%);
    color: #fff;
}

.card__about {
    margin-bottom: 1.2rem;
}

.card__features {
    font-size: 1.3rem;
    line-height: 1.5;
    list-style: none;
    opacity: 0.8;
}


/*-----------------------------------*\
 * #MEDIA QUERIES
\*-----------------------------------*/

@media only screen and (min-width: 48rem) {
    .card {
        max-width: 65rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .card__top {
        grid-column: 1/3;
    }

    .card__container {
        padding: 3.8rem;
    }

    .card__header {
        font-size: 2.2rem;
    }
    
    .card__subheader {
        font-size: 1.8rem;
        margin-bottom: 0.8rem;
    }
    
    .card__details {
        font-size: 1.6rem;
        margin-bottom: 0;
    }

    .sign-up-btn:hover {
        color: #fff;
        border: solid #fff 1px;
        background-color: transparent;
        transition: 0.3s ease-in-out;
    }
}